<div (click)="getJobDetails(job()?.id || 'not-found')"
  class="bg-white border border-gray-200 rounded-lg p-6 hover:shadow-lg transition-shadow duration-200 cursor-pointer relative w-full min-h-[200px] flex flex-col">
  <!-- Bookmark Icon -->
   @if (isauthenticated()) {
 @if (isFavorite()) {
  <!-- Already in favorites - show filled red bookmark -->
  <button (click)="removeFromFavorites(job()!); $event.stopPropagation()"
    class="absolute top-5 right-5 text-red-500 hover:text-red-600 transition-colors" aria-label="Remove from favorites">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="red" stroke="red"
      stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="m19 21-7-4-7 4V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v16z" />
    </svg>
  </button>
  } @else {
  <!-- Not in favorites - show outline gray bookmark -->
  <button (click)="addToFavorites(job()!); $event.stopPropagation()"
    class="absolute top-5 right-5 text-gray-400 hover:text-green-500 transition-colors" aria-label="Add to favorites">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
      stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="m19 21-7-4-7 4V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v16z" />
    </svg>
  </button>
  }
   }
 

  <!-- Company Name -->
  <h3 class="text-base font-semibold text-gray-900 mb-2 pr-8">{{ job()?.companyName }}</h3>

  <!-- Job Title -->
  <h4 class="text-xl font-bold text-gray-900 mb-3 leading-tight">{{ job()?.jobTitle }}</h4>

  <!-- Location -->
  <p class="text-sm text-gray-600 mb-3">{{ job()?.location }}</p>
  <!-- Posted Date -->
  <p class="text-sm text-gray-500">{{ job()?.publicationDate | timeAgo }}</p>
</div>